In [28]:
import dataManager 
import datetime
import pymysql
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import sys
sys.path.append('d:/pywork/DDT(4)PR')

import ddt_util as du
import numpy as np

test_db = pymysql.connect(user='admin',
                          passwd='se21121',
                           host = '211.232.156.57',
                          # host='127.0.0.1',
                          db='testschema',
                          charset='utf8')

cursor = test_db.cursor(pymysql.cursors.DictCursor)

dfm = dataManager.DataFrameManager(cursor)
date_start = pd.Timestamp(year=2021, month = 4, day = 26)
date_end = pd.Timestamp(year=2021, month = 4, day = 26)

sql = "select * from `lktbftick` where date >= '"+ str(date_start)[:10] + "' and date <= '" + str(date_end)[:10] + "';"

dfm.setDfData(date_start, date_end)

df_original = dfm.df
df_original.index = df_original['index']

In [29]:
df_original.time = df_original.time.astype(str).apply(lambda x: x[7:])

           index      code        date      time   close   vol
index
5808642  5808642  167R6000  2021-04-26  09:00:00  126.28   214
5808643  5808643  167R6000  2021-04-26  09:00:00  126.29    14
5808644  5808644  167R6000  2021-04-26  09:00:00  126.29    38
5808645  5808645  167R6000  2021-04-26  09:00:01  126.29    30
5808646  5808646  167R6000  2021-04-26  09:00:01  126.30     1
...          ...       ...         ...       ...     ...   ...
5816645  5816645  167R6000  2021-04-26  15:34:52  125.91     1
5816646  5816646  167R6000  2021-04-26  15:34:52  125.92    10
5816647  5816647  167R6000  2021-04-26  15:34:56  125.92     1
5816648  5816648  167R6000  2021-04-26  15:34:59  125.92    10
5816649  5816649  167R6000  2021-04-26  15:45:00  125.99  3157

[8008 rows x 6 columns]

In [96]:
df_sample = pd.read_excel('reshape_sample.xlsx')
print(df_sample)
print(len(df_sample.index))

       index      time   close   vol
0    5808642  09:00:00  126.28   214
1    5808643  09:00:00  126.29    14
2    5808644  09:00:00  126.29    38
3    5808645  09:00:01  126.29    30
4    5808646  09:00:01  126.30     1
..       ...       ...     ...   ...
143  5816645  15:34:52  125.91     1
144  5816646  15:34:52  125.92    10
145  5816647  15:34:56  125.92     1
146  5816648  15:34:59  125.92    10
147  5816649  15:45:00  125.99  3157

[148 rows x 4 columns]
148

In [ ]:
def getLeftoverVwap(prc_arr, volume_arr, unit_volume):
    """
    unit_volume을 넘긴 체결data를 받아와서 leftover와 vwap 리턴
    """
    volume_split = sum(volume_arr)-unit_volume
    leftover = (prc_arr[-1], volume_split)
    volume_arr[-1] = volume_arr[-1] - volume_split
    if volume_arr[-1] < 0: raise ValueError
    
    vwap = round(sum(prc_arr * volume_arr) / unit_volume, 4)
    
    return leftover, vwap

In [120]:
df = pd.DataFrame(columns=['time', 'acc_volume', 'vwap'])

leftover = {'price':999.99, 'volume':0}

for i in range(len(df_sample.index)):
    
    if i == 0:
        df.at[i, 'acc_volume'] = df_sample.iloc[0]['vol']
        df.at[i, 'time'] = df_sample.iloc[0]['time']
        df.at[i, 'vwap'] = df_sample.iloc[0]['close']
    else:
        for j in range(1, 9999):
            leftover[1] + df_sample.iloc[i:i+j].vol.sum()
        
        now = {'time_last':'', 'acc_volume':0, 'price_list':[], 'volume_list':[]}

        now['acc_volume'] += df_sample.iloc[1]
        if acc_vol < 30:
        now['price_list'].append(df_sample.iloc[1]['close'])

    #!!! df_sample.iloc[1:3].vol.sum()


print(df)

SyntaxError: invalid syntax (<ipython-input-120-29386d133033>, line 12)

In [138]:
for i in range(5):
    for j in range(999):
#         print(i, j)
        if j > 2: break
print(j)

3

In [90]:
a = np.array([1,2,3])
b = np.array([18,4,11])

getLeftoverVwap(a, b, 30)

((3, 3), 1.6667)

In [134]:
list(range(1,9))

[1, 2, 3, 4, 5, 6, 7, 8]