In [28]:
import dataManager 
import datetime
import pymysql
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import sys
sys.path.append('d:/pywork/DDT(4)PR')

import ddt_util as du
import numpy as np

test_db = pymysql.connect(user='admin',
                          passwd='se21121',
                           host = '211.232.156.57',
                          # host='127.0.0.1',
                          db='testschema',
                          charset='utf8')

cursor = test_db.cursor(pymysql.cursors.DictCursor)

dfm = dataManager.DataFrameManager(cursor)
date_start = pd.Timestamp(year=2021, month = 4, day = 26)
date_end = pd.Timestamp(year=2021, month = 4, day = 26)

sql = "select * from `lktbftick` where date >= '"+ str(date_start)[:10] + "' and date <= '" + str(date_end)[:10] + "';"

dfm.setDfData(date_start, date_end)

df_original = dfm.df
df_original.index = df_original['index']

In [29]:
df_original.time = df_original.time.astype(str).apply(lambda x: x[7:])

           index      code        date      time   close   vol
index
5808642  5808642  167R6000  2021-04-26  09:00:00  126.28   214
5808643  5808643  167R6000  2021-04-26  09:00:00  126.29    14
5808644  5808644  167R6000  2021-04-26  09:00:00  126.29    38
5808645  5808645  167R6000  2021-04-26  09:00:01  126.29    30
5808646  5808646  167R6000  2021-04-26  09:00:01  126.30     1
...          ...       ...         ...       ...     ...   ...
5816645  5816645  167R6000  2021-04-26  15:34:52  125.91     1
5816646  5816646  167R6000  2021-04-26  15:34:52  125.92    10
5816647  5816647  167R6000  2021-04-26  15:34:56  125.92     1
5816648  5816648  167R6000  2021-04-26  15:34:59  125.92    10
5816649  5816649  167R6000  2021-04-26  15:45:00  125.99  3157

[8008 rows x 6 columns]

In [3]:
import pandas as pd

df_sample = pd.read_excel('reshape_real_1d.xlsx')
print(df_sample)
print(len(df_sample.index))

              Unnamed: 0    index      code       date      time   close   vol
0    2021-04-26 09:00:00  5808642  167R6000 2021-04-26  0.375000  126.28   214
1    2021-04-26 09:00:00  5808643  167R6000 2021-04-26  0.375000  126.29    14
2    2021-04-26 09:00:00  5808644  167R6000 2021-04-26  0.375000  126.29    38
3    2021-04-26 09:00:01  5808645  167R6000 2021-04-26  0.375012  126.29    30
4    2021-04-26 09:00:01  5808646  167R6000 2021-04-26  0.375012  126.30     1
...                  ...      ...       ...        ...       ...     ...   ...
8003 2021-04-26 15:34:52  5816645  167R6000 2021-04-26  0.649213  125.91     1
8004 2021-04-26 15:34:52  5816646  167R6000 2021-04-26  0.649213  125.92    10
8005 2021-04-26 15:34:56  5816647  167R6000 2021-04-26  0.649259  125.92     1
8006 2021-04-26 15:34:59  5816648  167R6000 2021-04-26  0.649294  125.92    10
8007 2021-04-26 15:45:00  5816649  167R6000 2021-04-26  0.656250  125.99  3157

[8008 rows x 7 columns]
8008

In [72]:
from tqdm import tqdm

df_all = pd.DataFrame(columns=['time', 'price'])

i = 0
total_row = len(df_sample.index)

for row in tqdm(range(1, total_row-1)):
#     print('row=', row)
#     if row == 0:
#         df_all.at['day_open', 'price'] = df_sample.iloc[row]['close']
#     elif row == len(df_sample.index) - 1:
#         df_all.at['day_close', 'price'] = df_sample.iloc[-1]['close']
#     else:
    t = df_sample.iloc[row]['time']
    p = df_sample.iloc[row]['close']
    for v in range(df_sample.iloc[row]['vol']):
        i += 1
#             print(i)
        df_all.at[i, 'time'] = t
        df_all.at[i, 'price'] = p

#2분 50초 걸림

df_reshaped = pd.DataFrame(columns=['time', 'vwap'])

unit_volume = 30
num_row = (len(df_all) - (len(df_all) % unit_volume)) / unit_volume

for i in tqdm(range(int(num_row))):
    df_reshaped.at[i, 'time'] = df_all.iloc[(i+1)*unit_volume - 1]['time']
    df_reshaped.at[i, 'vwap'] = round(df_all.iloc[i*unit_volume:(i+1)*unit_volume]['price'].mean(), 4)
#     print(i)

df_reshaped
df_reshaped.to_excel("df_reshaped.xlsx")

 86%|██████████████████████████████████████████████████████████████████▊           | 6862/8006 [02:05<00:20, 54.80it/s]

KeyboardInterrupt:

100%|████████████████████████████████████████████████████████████████████████████| 2584/2584 [00:01<00:00, 1368.18it/s]

In [50]:
round(df_all.iloc[0:30]['price'].mean(), 4)

126.29

In [120]:
df_raw = pd.read_excel('reshape_sample.xlsx')
df_reshaped = pd.DataFrame(columns=['time', 'acc_volume', 'vwap'])

#     if i == 0:
#         df.at[i, 'acc_volume'] = df_sample.iloc[0]['vol']
#         df.at[i, 'time'] = df_sample.iloc[0]['time']
#         df.at[i, 'vwap'] = df_sample.iloc[0]['close']

unit_volume = 30

leftover = {'price':9999.99, 'volume':0}

i_df_raw = 0

while i_df_raw < len(df_raw.index):
    
    i_df_raw += 1
        
    for j in range(1, 9999):
        leftover['volume'] + df_sample.iloc[i:i+j].vol.sum()

    now = {'time_last':'', 'acc_volume':0, 'price_list':[], 'volume_list':[]}

    now['acc_volume'] += df_sample.iloc[1]
    if acc_vol < 30:
    now['price_list'].append(df_sample.iloc[1]['close'])

    #!!! df_sample.iloc[1:3].vol.sum()


print(df)

SyntaxError: invalid syntax (<ipython-input-120-29386d133033>, line 12)

In [ ]:
def getLeftoverVwap(prc_arr, volume_arr, unit_volume):
    """
    unit_volume 이상으로 체결된 직후까지의 data를 받아와서 leftover와 vwap 리턴
    """
    volume_split = sum(volume_arr)-unit_volume
    leftover = (prc_arr[-1], volume_split)
    volume_arr[-1] = volume_arr[-1] - volume_split
    if volume_arr[-1] < 0: raise ValueError
    
    vwap = round(sum(prc_arr * volume_arr) / unit_volume, 4)
    
    return leftover, vwap

In [138]:
for i in range(5):
    for j in range(999):
#         print(i, j)
        if j > 2: break
print(j)

3

In [90]:
a = np.array([1,2,3])
b = np.array([18,4,11])

getLeftoverVwap(a, b, 30)

((3, 3), 1.6667)

In [70]:
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
i=0
while sum(l[0:i]) < 9:
    i += 1
    print(i, sum(l[0:i]))

1 0
2 1
3 3
4 6
5 10